
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 800px;
  padding: 8px;
  position: relative;
}

.menu {
  display: flex;
  gap: 10px;
  z-index: 999;
}

.navItem {
  color: #c39a1c;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 0.3s;
}

.navItem:hover {
  color: #641e1e;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.navFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItemFooter {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.navItemFooter:hover {
  color: gold;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  .navItem {
    padding: 12px;
    font-size: 1rem;
  }
}